/* 데스크탑 */

/*전체 화면*/
* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	min-height: 100vh;
	min-width: 320px;
	display: flex;
}

/* 메뉴바 구역 */
#menu_bar {
	width: 20%;
	min-height: 100%;
	max-width: 200px;
	float: left;
	background: #E5E5E5;
	border-right: 1px solid #000;
}

/* 내 아이콘 */
#my {
	width: 100%;
	border-bottom: 1px solid #000;
	text-align: center;
}

#my_img {
	width: 100%;
}

#my_txt {
	word-break: break-all;
	margin-top: 5px;
	font-size: 20px;
  	font-weight: normal;
}

/* 메뉴 */
.menu ul {
	list-style: none;
	background: #fff;
	-webkit-padding-start: 0px;
}

.menu li {
	padding: 5px;
	border-bottom: 1px solid #000;
	font-size: 16px;
	text-align: center;
}

.menu li img {
	width: 30px;
}

.menu a {
	text-decoration: none;
	color: #000;
}

/* 메인 구역 */
#wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	float: right;
	justify-content: center;
	align-items: center;
	background-image: url(https://cdn.pixabay.com/photo/2022/06/25/13/33/landscape-7283516_960_720.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

#main {
	width: 100%;
	height: 100%;
	max-width: 700px;
	background: rgba(255, 255, 255, 0.7);
}

/* 타이틀 구역 */
#title_area {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #000;
}

#title {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-size: 24px;
  	font-weight: normal;
}

/* 정보 구역 */
#inf_area {
	width: 100%;
	border-bottom: 1px solid #000;
}

.txt {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	border-bottom: 1px solid #000;
	background: #E5E5E5;
	font-size: 20px;
  	font-weight: normal;
}

#inf_table {
	width: 100%;
	max-width: 320px;
	border-collapse: collapse;
	text-align: center;
	background: #fff;
	margin: 10px auto;
}

#inf_table td {
	border: 1px solid #E5E5E5;
	padding: 3px 0;
}

.btn1 {
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	border: none;
}

.head {
	background: #E5E5E5;
}

/* 아이콘 선택 구역 */
.icon_select {
	max-width: 420px;
	background: #fff;
	margin: 0 auto 10px auto;
	border: 1px solid #E5E5E5;
}

.icon_select p {
	background: #E5E5E5;
	text-align: center;
}

.icon_select input {
	position: absolute;
	z-index: 999;
}

.icon1 {
	background-image: url(https://ifh.cc/g/PD4dtM.png);
}

.icon2 {
	background-image: url(https://ifh.cc/g/DGl5Wv.png);
}

.icon3 {
	background-image: url(https://ifh.cc/g/6rV4d9.png);
}

.icon4 {
	background-image: url(https://ifh.cc/g/qtxcps.png);
}

.icon_select input:active+.select {
	opacity: .8;
}

.icon_select input:checked+.select {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}

.select {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 90px;
	height: 90px;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
	-moz-filter: brightness(1.8) grayscale(1) opacity(.7);
	filter: brightness(1.8) grayscale(1) opacity(.7);
}

.select:hover {
	-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
	-moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
	filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.icon_select input {
	opacity: 0;
}

.icon_select label {
	margin: 5px;
}


/* 타블렛 세로 */
@media screen and (max-width:767px) {
	.item {
		font-size: 14px;
	}

	#my_txt {
		font-size: 14px;
	}

	.icon_select {
		width: 100px;
	}
}

/* 모바일 세로*/
@media screen and (max-width:479px) {
	.item {
		font-size: 12px;
	}

	.menu li img {
		width: 20px;
	}

	#my_txt {
		font-size: 12px;
	}

	.btn1 {
		font-size: 12px;
		height: 30px;
		width: 100px;
	}
}