/* 데스크탑 */

/*전체 화면*/
* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	min-height: 100vh;
	min-width: 320px;
	display: flex;
	background: #D1EADA;
}

/* 메뉴바 구역 */
#menu_bar{
	width:20%; min-height:100%;
	max-width:200px;
	float:left;
  }
  
  /* 내 아이콘 */
  #my{
	width:100%;
	text-align:center;
  }
  #my_img{
	width:60%;
	margin-top:10px;
  }
  #my_txt{
	word-break:break-all;
	margin-bottom:10px;
	font-size: 20px;
	font-weight: normal;
  }
  
  /* 메뉴 */
  .menu{
	width:80%;
	margin:0 auto;
	height:300px;
	background: rgb(255, 255, 255);
	border-radius: 5%;
	position:relative;
  }
  .menu ul{
	list-style: none;
	-webkit-padding-start: 0px;
  }
  .menu li{
	padding-top:30px;
	font-size: 16px;
	text-align:center;
  }
  .menu a{
	text-decoration: none;
	color: rgb(87, 87, 87);
	text-decoration: 1px underline rgb(87, 87, 87);
	text-underline-offset: 5px;
  }
  .menu div{
	position:absolute;
	width:100%;
	bottom:15px;
	text-align: center;
  }
  .menu .btn-2{
	color:rgb(39, 39, 39);
	  background: rgba( 255, 255, 255, 0.4);
	  border: 1px solid #E5E5E5;
	  width:80%;
	  height:40px;
	  border-radius: 10%;
	  font-size: 16px;
	  text-align: center;
	  cursor: pointer;
	  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .menu .btn-2:hover{
	background: linear-gradient(rgba(0,0,0,0.1), rgba(255,255,255,0.1));
  }

/* 메인 구역 */
#wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	float: right;
	justify-content: center;
	align-items: center;
	background: #D1EADA;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
#main {
	width: 100%;
	height: 100%;
	max-width: 700px;
}

/* 타이틀 */
.title{
	width: 100%;
	height: 100%;
	color: rgb(87, 87, 87);
	font-size: 20px;
	font-weight: normal;
	margin: 15px 0 60px 30px;
	text-decoration: underline 1px;
	text-underline-offset: 10px;
  }

/* 식물 목록 구역 */
#list_area {
	width: 100%;
}

#plant_list {
	max-width: 320px;
	margin: 10px auto;
	border: 1px solid #E5E5E5;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#plant_list ul {
	column-count: 2;
	column-rule: solid 1px #E5E5E5;
	column-gap: 0;
	list-style-type: none;
	-webkit-padding-start: 0px;
}

#plant_list li {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 10px 0;
	padding: 10px 0;
}

#plant_list a {
	display: block;
	text-decoration: none;
	color: #000;
}

#plant_list li div {
	padding-top: 5px;
}

#plant_list img {
	width: 80px;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1.2) grayscale(1) opacity(.7);
	-moz-filter: brightness(1.2) grayscale(1) opacity(.7);
	filter: brightness(1.2) grayscale(1) opacity(.7);
}

#plant_list img:hover {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}


/* 타블렛 세로 */
@media screen and (max-width:767px) {
	.item {
		font-size: 14px;
	}

	#my_txt {
		font-size: 14px;
	}

	.icon_select {
		width: 100px;
	}

	.menu .btn-2{font-size:14px;}
}

/* 모바일 세로*/
@media screen and (max-width:479px) {
	.item {
		font-size: 10px;
	}

	#my_txt {
		font-size: 10px;
	}

	.btn1 {
		font-size: 10px;
		height: 30px;
		width: 100px;
	}

	#plant_list img {
		width: 60px;
	}

	#plant_list {
		max-width: 240px;
	}

	.menu {height:200px;}
  	.menu li{padding-top:20px;}
 	.menu .btn-2{font-size:10px; height:25px;}
}