/* 데스크탑 */

/*전체 화면*/
*{margin:0; padding:0;}
body{
  width:100vw; min-height:100vh;
  min-width:320px;
  display:flex;
}

/* 메뉴바 구역 */
#menu_bar{
  width:20%; min-height:100%;
  max-width:200px;
  float:left;
  background: #E5E5E5;
  border-right:1px solid #000;
}

/* 내 아이콘 */
#my{
  width:100%;
  border-bottom:1px solid #000;
  text-align:center;
}
#my_img{
  width:100%;
}
#my_txt{
  word-break:break-all;
  margin-top:5px;
}

/* 메뉴 */
.menu ul{
  list-style: none;
  background:#fff;
  -webkit-padding-start: 0px;
}
.menu li{
  padding:5px;
  border-bottom: 1px solid #000;
  font-size: 16px;
  text-align:center;
}
.menu li img{
  width:30px;
}
.menu a{
  text-decoration: none;
  color:#000;
}

/* 메인 구역 */
#wrapper{
  width:100%; min-height:100%;
  display: flex;
  float:right;
  justify-content: center;
  align-items:center;
  background-image: url(https://cdn.pixabay.com/photo/2022/06/25/13/33/landscape-7283516_960_720.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
#main{
  width:100%; height:100%;
  max-width:700px;
  background:#F7FFEB;
}

/* 타이틀 구역 */
#title_area{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #000;
  background:#fff;
}
#title{
  width: 100%;
  height: 100%;
  display : flex;
  justify-content : center;
  align-items : center;
  color: #000000;
}

/* 식물 목록 구역 */
#list_area{
  width:100%;
  border-bottom:1px solid #000;
}
.txt{
  width: 100%;
  display : flex;
  justify-content : center;
  align-items : center;
  padding:5px 0;
  border-bottom:1px solid #000;
  background:#E5E5E5;
}
#plant_list{
  width:320px;
  margin:10px auto;
  border:1px solid #000;
}
#plant_list ul {
  column-count: 2;
  column-rule: solid 1px #000;
  list-style-type: none;
}
#plant_list img{
  width:100px;
}
#plant_list li {
  text-align: center;
  display:inline-block;
  width:100%;
}
#plant_list a{
    display: block;
}


/* 타블렛 세로 */
@media screen and (max-width:767px) {
  .item{font-size:14px;}
  #my_txt{font-size:14px;}
  .icon_select{width:100px;}
}

/* 모바일 세로*/
@media screen and (max-width:479px) {
  .item{font-size:12px;}
  .menu li img{width:20px;}
  #my_txt{font-size:12px;}
  .btn1{font-size:12px; height:30px; width:100px;}
  #inf_area{font-size:12px;}
  #dis_area{font-size:12px;}
}