/* 데스크탑 */

/*전체 화면*/
*{margin:0; padding:0;}
body{
  width:100vw; min-height:100vh;
  min-width:320px;
  display:flex;
  background: #D1EADA;
}

/* 메뉴바 구역 */
#menu_bar{
  width:20%; min-height:100%;
  max-width:200px;
  float:left;
}

/* 내 아이콘 */
#my{
  width:100%;
  text-align:center;
}
#my_img{
  width:60%;
  margin-top:10px;
}
#my_txt{
  word-break:break-all;
  margin-bottom:10px;
  font-size: 20px;
  font-weight: normal;
}

/* 메뉴 */
.menu{
  width:80%;
  margin:0 auto;
  height:300px;
  background: rgb(255, 255, 255);
  border-radius: 5%;
  position:relative;
}
.menu ul{
  list-style: none;
  -webkit-padding-start: 0px;
}
.menu li{
  padding-top:30px;
  font-size: 16px;
  text-align:center;
}
.menu a{
  text-decoration: none;
  color: rgb(87, 87, 87);
  text-decoration: 1px underline rgb(87, 87, 87);
  text-underline-offset: 5px;
}
.menu div{
  position:absolute;
  width:100%;
  bottom:15px;
  text-align: center;
}
.menu .btn-2{
  color:rgb(39, 39, 39);
	background: rgba( 255, 255, 255, 0.4);
	border: 1px solid #E5E5E5;
	width:80%;
	height:40px;
	border-radius: 10%;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.menu .btn-2:hover{
  background: linear-gradient(rgba(0,0,0,0.1), rgba(255,255,255,0.1));
}

/* 메인 구역 */
#wrapper{
  width:100%; min-height:100%;
  display: flex;
  float:right;
  justify-content: center;
  align-items:center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
#main{
  width:100%; height:100%;
  max-width:700px;
}

/* 타이틀 */
.title{
  width: 100%;
  height: 100%;
  color: rgb(87, 87, 87);
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0 60px 30px;
  text-decoration: underline 1px;
  text-underline-offset: 10px;
}


/* 식물 구역 */
#plant_area{
  width:100%;
  padding-bottom:60px;
}
/* 식물 아이콘 구역 */
#plant_icon{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:15px;
}
#plant_icon img{
  width:100px;
  padding:10px;
  border:2px solid rgba(255, 255, 255, 0.5);
}
/* 식물 정보 구역 */
#plant_inf{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:15px 0;
}
#plant_inf td{
  color: rgb(87, 87, 87);
  width:140px;
  text-align: center;
  font-size:18px;
  background:#fff;
}
#plant_inf .head{
  width:100px;
}


/* 물 주기 구역 */
#water_area{
  width:100%;
  padding-bottom:60px;
}
/* 물 주기 아이콘 */
#water_icon{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:15px 0;
}
#water_icon ul{
  list-style: none;
  -webkit-padding-start: 0px;
}
#water_icon li{
  font-size: 16px;
  text-align:center;
  margin-bottom:20px;
}
#water_icon img{
  width:100px;
  padding:10px;
  border:2px solid rgba(255, 255, 255, 0.5);
  display:block;

	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1.2) grayscale(1) opacity(1);
	-moz-filter: brightness(1.2) grayscale(1) opacity(1);
	filter: brightness(1.2) grayscale(1) opacity(1);
}
#water_icon img:hover {
	-webkit-filter: none;
	-moz-filter: none;
	filter: none;
}
#water_icon a{
  text-decoration: none;
  color: rgb(87, 87, 87);
}
/* 물 주기 정보 */
#water_inf{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:15px 0;
}
#water_inf li{
  font-size:18px;
  list-style: none;
  color: rgb(87, 87, 87);
  text-align: center;
  padding-bottom:5px;
  background:#fff;
  width:300px;
}


/* 병해충 검사 구역 */
#dis_area{
  width:100%;
  margin-bottom:200px;
}
/* 병해충 사진 업로드 */
#photo_upload {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:30px 0;
}
#photo_upload label {
  cursor:pointer;
  border: 1px solid rgb(87, 87, 87);
  color: rgb(87, 87, 87)y;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
}
#photo_upload label:hover{
  background: rgba( 255, 255, 255, 0.4);
}
#photo_upload input[type=file] {
  font-size: 0px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/* 병해충 정보 */
/* 사진 업로드 시 나타남 */
#dis_inf{
  /* display:flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:15px 0;
}
#dis_inf ul{
  margin-bottom:30px;
}
#dis_inf li{
  font-size:18px;
  list-style: none;
  color: rgb(87, 87, 87);
  text-align: center;
  padding-bottom:5px;
  background:#fff;
  width:300px;
}
/* 버튼 */
#dis_inf div{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:rgb(39, 39, 39);
  background: rgba( 255, 255, 255, 0.4);
  width:140px;
  height:40px;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  font-size: 18px;
}
#dis_inf div:hover{
	background: linear-gradient(rgba(0,0,0,0.1), rgba(255,255,255,0.1));
	border: 1px solid #E5E5E5;
}


/* 타블렛 세로 */
@media screen and (max-width:767px) {
  .item{font-size:14px;}
  #my_txt{font-size:14px;}
  #plant_icon img{width:80px;}
  .menu .btn-2{font-size:14px;}
}

/* 모바일 세로*/
@media screen and (max-width:479px) {
  .item{font-size:10px;}
  .menu {height:200px;}
  .menu li{padding-top:20px;}
  .menu .btn-2{font-size:10px; height:25px;}
  #my_txt{font-size:10px;}
  #water_inf li{width:240px;}
  #dis_inf li{width:240px;}
}