@charset "utf-8";
/* CSS Document */
*,*:before,*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{ margin:0px; padding:0px; font-size:12px;font-family:"微软雅黑","黑体";color:#898989;line-height:1; background:#FFF;}
ul,li,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,ol,form,input{ margin:0px; padding:0px;}
input,textarea { font-family: "微软雅黑"; border: none; outline: none; background: none; }
ul,li{ list-style:none}
img{border:0px; padding:0px; display: block;}
a{ color:#5c5c5c; text-decoration:none}

h2,h3,h4,b,strong { font-weight: normal; }
em,i { font-style: normal; }

.clear{ zoom: 1; }
.clear:after { content: ''; display: block; clear: both; }
.fl { float:left}
.fr { float:right}
.hidden{display:none; background: url() no-repeat center;}

.header{height: 60px;background: #eaf1e8;}
.headerbox{width: 1370px; margin: 0 auto;height: 60px;}
.logo{width: 126px; float: left; padding-top: 18px;}
.logo img{width: 100%;}
.hybox{float: right;width: 40px; padding-top: 10px; position: relative;cursor: pointer;z-index: 100;}
.hybox p img{width: 40px;height: 40px; border-radius: 50%;}
.hyxq {position: absolute; top: 52px; left: -30px; width: 100px; height: 35px;border-radius: 6px; background: #fff;box-shadow:0 0 10px rgba(0, 0, 0, .1); display: none; }
.hyxq li a{display: block; text-align: center; font-size: 14px; line-height: 35px;}
.hyxq li a img{display: inline-block;vertical-align: middle; margin: -3px 5px 0 0;}
.ssnr{float: right; margin: 13px 48px 0 0;background: #fff; position: relative;width: 270px;height: 32px;border-radius: 16px;}
.wby1{width: 100%; line-height: 32px;height: 32px; padding: 0 10px 0 40px;}
.btn1{background: url(../images/a2.png); width: 17px;height: 17px;border: none; position: absolute;cursor: pointer;top: 8px;left: 12px;} 

.nav{float: right; }
.nav ul{overflow: hidden;}
.nav li{float: left; padding-right: 40px; line-height: 60px; font-size: 16px; color: #595959;}
.mon1{background: url(../images/a3.png); width: 24px;height: 24px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.mon2{background: url(../images/a4.png); width: 24px;height: 24px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.mon3{background: url(../images/a5.png); width: 19px;height: 17px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.mon4{background: url(../images/a6.png); width: 24px;height: 24px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.nav li.cur a{color: #77B490;}
.nav a:hover{color: #77B490;}
.nav li.cur .mon1{background: url(../images/a3a.png); width: 24px;height: 24px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.nav li.cur .mon2{background: url(../images/a4a.png); width: 24px;height: 24px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.nav li.cur .mon3{background: url(../images/a5a.png); width: 19px;height: 17px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.nav li.cur .mon4{background: url(../images/a6a.png); width: 24px;height: 24px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.nav a:hover .mon1{background: url(../images/a3a.png); width: 24px;height: 24px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.nav a:hover .mon2{background: url(../images/a4a.png); width: 24px;height: 24px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.nav a:hover .mon3{background: url(../images/a5a.png); width: 19px;height: 17px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}
.nav a:hover .mon4{background: url(../images/a6a.png); width: 24px;height: 24px;display: inline-block;vertical-align: middle; margin: -3px 8px 0 0;}

.wznr{width: 1100px; margin: 0 auto; padding-top: 33px; position: relative;}
.leftlm{float: left; width: 160px;background: #eaf1e8;border-radius: 0 0 8px 8px;}

.leftlm ul{ }
.leftlm li{border-bottom: 2px solid #fff;}
.leftlm li:last-child{border-bottom: none;}
.leftlm ul li a{display: block; text-align: center; padding: 15px 0 10px; margin: 0 15px;}
.leftlm ul li img{margin: 0 auto;}
.leftlm ul li p{color: #000; font-size: 16px;font-weight: 500; margin-top: 5px;}
.leftlm .xzbtn{display: block; text-align: center; padding: 20px 0 30px 0;background: #77b490;border-radius: 8px; margin: 0;position: relative;}
.leftlm .xzbtn img{margin: 0 auto;}
.leftlm .xzbtn p{color: #fff; margin-top: 5px; font-size: 16px;}
#file1{position: absolute;width: 100%; height: 100%; left: 0;top: 0;opacity: 0;}
#show1{width: 60px;height: 60px; margin: 0 auto;}


.rightlm{float: right;width: calc(100% - 180px);}
.scwj{border-radius: 8px;background: #eaf1e8; padding: 25px 20px;border: 1px dashed #77b490;font-size: 16px;}
.scwj h2{font-size: 16px;color: #77B490; margin-bottom: 35px; line-height: 1.5;}
.scwj h2 b{font-size: 24px; font-weight: bold; padding-right: 10px;}
.scwj a{display: block; margin: 0 auto;text-align: center; border: 1px solid #77b490;border-radius: 8px; height: 118px; width: 200px; position: relative;}
#show{width: 60px;height: 60px;}
#file{position: absolute;width: 100%;height: 100%; top: 0;left: 0;opacity: 0;}
.scwj p{font-size: 16px; font-weight: 500; color: #77B490; }
.scwj a img{margin: 0 auto;}
.scwj h3{padding: 15px 0 0 0 ; font-size: 16px; line-height: 20px; color: #787878;text-align: center;}

.btnzh{padding-top: 25px;}
.btnzh ul{text-align: center;}
.btnzh li{display: inline-block; padding: 0 15px;}
.btnzh a{display: block; text-align: center; padding: 0 16px; line-height: 38px; color: #77b490; border: 1px solid #77b490;border-radius: 6px; font-size: 20px;}
.btnzh ul li:nth-child(2) a{ background:#77b490;color: #fff;}
.mybtn{display: block;text-align: center; width: 87px; line-height: 30px; font-size: 18px; color: #000; font-weight: 500;border: 1px solid #000;border-radius: 6px; position: absolute; top: 33px;left: -148px;}
.mybtn img{display: inline-block;vertical-align: middle; margin: -3px 18px 0 0;}
.mybtn:hover{border: 1px solid #77b490;color: #77b490;}

/*plan2*/
.scwj_tow{border-radius: 8px;background: #eaf1e8; padding: 25px 25px 10px 25px;}
.scwj_tow h2{font-size: 16px;color: #77B490; margin-bottom: 35px;line-height: 1.5;}
.scwj_tow h2 b{font-size: 24px; font-weight: bold; padding-right: 10px;}
.scwj_tow ul{overflow: hidden; margin-left: -20px;}
.scwj_tow li{float: left; width: 25%; padding: 0 0 20px 20px;}
.scwjbox{text-align: center; border: 1px solid #595959;border-radius: 8px; padding: 18px 5px 15px 5px;}
.scwjbox span{display: block; margin: 0 auto; width: 100px;}
.scwjbox img{width: 100%;height: 100px;}
.scwjbox h3{font-size: 20px; color: #77B490; font-size: 500; text-align: center; line-height: 46px;}
.scwjbox p{font-size: 12px; color: #595959; line-height: 16px;}
.scwj_tow li.cur .scwjbox{border: 1px solid #77b490;background: #77b490;}
.scwj_tow li.cur h3{color: #fff;}
.scwj_tow li.cur p{color: #fff;}
.scwj_tow a:hover .scwjbox{border: 1px solid #77b490;background: #77b490;transition: All 0.4s ease-in-out;}
.scwj_tow a:hover h3{color: #fff;}
.scwj_tow a:hover p{color: #fff;}
/*plan3*/
.scwj_swz{padding: 0 25px;}
.scwj_swz h2{font-size: 16px;color: #77B490; margin-bottom: 35px;line-height: 1.5;}
.scwj_swz h2 b{font-size: 24px; font-weight: bold; padding-right: 10px;}
.cpjs{overflow: hidden; padding-bottom: 20px;}
.fr{float: right;}
.cpjs_tp{width: 142px;position: relative;padding-bottom: 10px;}

.cpjs_tp img{position: relative; z-index: 10;}
.cpjs_text{ width: 480px;}
.cpjs_text h3{font-size: 28px;color: #000000; font-weight: 500; margin-bottom: 15px;}
.cpjs_text p{font-size: 16px;color: #000000; font-weight: 500; line-height: 24px;}
.cpjs_text h4{font-size: 14px; font-weight: 400; line-height: 24px; color: #595959; margin-top: 5px;}
.cpjs_text h4 img{display: inline-block;vertical-align: middle; margin: -3px 10px 0 0;}
.cpjs_text.cpjs_text_a{text-align: right;}


@media(max-width:1400px){
.headerbox{width: 100%; padding: 0 3%;}
.wznr{width: 100%; padding: 30px 100px;}
.mybtn{left: 10px;}
}
@media(max-width:1200px){
body{padding-bottom: 50px;}
.headerbox{position: relative;height: 100px;}
.header{height: auto;}
.ssnr{float: none; margin: 12px auto;clear: both;}
.nav{position:fixed; z-index: 100; left: 0; bottom: 0;width: 100%;background: #fff; box-shadow:0 0 10px rgba(0, 0, 0, .1); }
.nav ul{padding: 0 3%;display: flex;justify-content : space-between;}
.nav li{padding: 0; font-size: 12px;float: none;text-align: center;}
.hyxq{z-index: 100;left: -60px;}
.wznr{padding: 30px 3%;}
.mybtn{display: none;}
.leftlm{float: none; width: 100%;border-radius: 8px;background: none;}
.leftlm ul{display: flex;justify-content : space-between;overflow: auto;}
.xzbtn{width: 160px;}
.leftlm ul li a{width: 160px;height: 164px; border-radius: 8px; background: #eaf1e8;padding-top: 40px; margin: 0  0 0 15px;}
.rightlm{width: 100%; padding-top: 15px; float: none;}
.style-1::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
	background-color:#F5F5F5;
}
.style-1::-webkit-scrollbar {
	width:0px; height:0px;
	background-color:#fff;
}
.style-1::-webkit-scrollbar-thumb { 
	border-radius:10px;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
	background-color:#555;
}
.scwj h2 b{display: block;}
.scwj_tow h2 b{display: block;}
.scwjbox{height: 250px;}
.scwj_tow ul{ margin-left: -10px;}
.scwj_tow li{ padding: 0 0 10px 10px;width: 50%;box-sizing: border-box;}
.scwj_tow{padding: 15px;}

.scwj_swz{padding:0;}
.cpjs{padding-bottom: 30px;}
.scwj_swz h2 b{display: block;}
.cpjs_tp{float: none; margin:0 auto}
.cpjs_text{width: 100%;text-align: center;}
.cpjs_text h3{text-align: center;font-size: 20px; margin: 15px 0;}
.scwjbox h3{font-size: 16px;}
.scwjbox p{zoom: 0.8;}
.cpjs_text.cpjs_text_a{text-align: center;}

.btnzh a{font-size: 14px;}
.btnzh li{padding: 0 5px;}
}





